/*Google font CDN link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins','sans-serif';
  text-decoration: none;
  scroll-behavior: smooth;
}
header{
   background-color: black;
   width: 100%;
   position: fixed;
   z-index: 999;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: blueviolet;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7em;
}
.navigation a{
    color: blueviolet;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;
    padding-left: 30px;
}
.navigation a:hover{
    color: rgb(43, 116, 226);
    transition: color 0.8s ease;
}

section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/Background3.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;

}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: aquamarine;
    font-size: 1.7em;
    font-weight: 600;
}
.main h3{
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color: #fff;
    background-color: rgba(0, 255, 200, 0.466);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 1.8em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.8s ease;
}
.main-btn:hover{
    background-color: brown;
    transform: scale(1.1);
    box-shadow: 0 4px 20px rgb(222, 74, 74);
}
.social-icons{
    display: flex;
    gap: 2rem;
    font-size: 1.7em;
}
.title{
    display: flex;
    justify-content: center;
    color: blueviolet;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    width: 20em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    padding: 25px;
    margin: 15px;
    transition: 0.8s ease;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.8s ease;
}
.icon{
    color: blueviolet;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: blueviolet;
    font-size: 1.2em;
    margin: 10px;
}

.Certificates{
    background-color: #000016;
}
.Certificates .conetent{
    margin-top: 30px;
}
.Certificates-card{
    background-color: #fff;
    border: 2px solid #fff;
    min-height: 14em;
    width: 25em;
    overflow: hidden;
    border-radius: 10px;
    margin: 15px;
    transition: 0.7s ease;

}
.Certificates-card:hover{
    transform: scale(1.1);
}
.Certificates-image img{
    width: 100%;
}

.contact .icon{
    font-size: 3em;
}
.contact .info h3 {
    color: black;
}

@media  (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 8px;
    }
    .title{
        font-size: 1.5em;
    }
    section{
        padding: 70px 20px;
    }
    .main-content{
        flex-direction: column;
        align-items: center;
    }
}

@media  (max-width:641px){
   body{
    font-size: 11px;
   }
   .main-content h2{
    font-size: 1.7em;
   }
   .main-content h3{
    font-size: 1.4em;
   }
}